<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= page.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO link rel="alternate" type="application/rss+xml" title="{{site.name | xml_escape }}" href="{{site.url}}/feed.xml"-->

        <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css?__inline=true">

  <%- css('css/style') %>
  <%- partial('google-analytics') %>
</head>
