/*

for f in _scss/*; do sass $f --style compressed > _includes/$(basename ${f%%.*}.min.css); done

*/

$blog-content-line-height: 28.5714286px; /* bootstrap font-size-base * line-height-base */

.blog-post {
    margin-bottom: 50px;
}

.blog-post header {
    margin-bottom: 15px;
}

.blog-post header h2 {
    margin-bottom: 0;
}

.blog-post .author-and-date {
    color: #666;
    margin: 0;
}

.blog-post .content {
    position: relative;
    overflow: hidden;
}

.blog-post.front-page img {
    display: block;
    float: left;
    overflow: hidden;

    width: 40%;
    height: auto;

    margin-right: $blog-content-line-height * 0.5;
    margin-bottom: 0;
}

.blog-post.full-page img {
    margin-bottom: 11px;
}

.back-link {
    padding-top: 10px;
    clear: both;
}

// .read-more-button {
//     padding-right: 30px;
// }
